[core]
	editor = vim 

[alias]
# nicelog = log --graph --decorate --all --date-order --date=format:'%d/%m/%y %k:%M' --pretty=format:'%C(blue bold)%ad %C(green)%an%C(reset) %C(white)%s%C(reset) %C(reset)%C(auto)%d' --color=always
nicelog = log --graph --decorate --all --date-order --date=format:'%d/%m/%y %k:%M' --pretty=format:'%ad %an %s %d' --color=always
lg = !"git nicelog"

# git rm --cached filetwo.txt

nicestatus = status -su
st = !"git nicestatus"

# wget "https://github.com/git-ecosystem/git-credential-manager/releases/download/v<version>/gcm-linux_<arch>.<version>.deb" -O /tmp/gcmcore.deb
# sudo dpkg -i /tmp/gcmcore.deb
# git-credential-manager configure

[credential]
        helper = /usr/local/bin/git-credential-manager-core
        credentialStore = cache
        guiPrompt = false

# git config --global user.email "<email>"
# git config --global user.name "<username>"
