[core]
	editor = vim 

[alias]
# nicelog = log --graph --decorate --all --date-order --date=format:'%d/%m/%y %k:%M' --pretty=format:'%C(blue bold)%ad %C(green)%an%C(reset) %C(white)%s%C(reset) %C(reset)%C(auto)%d' --color=always
nicelog = log --graph --decorate --all --date-order --date=format:'%d/%m/%y %k:%M' --pretty=format:'%ad %an %s %d' --color=always
lg = !"git nicelog"

# git rm --cached filetwo.txt

nicestatus = status -su
st = !"git nicestatus"

[credential]
        helper = /usr/local/bin/git-credential-manager-core
        credentialStore = cache
        guiPrompt = false
